<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <title>Blog</title>
  </head>
  <body>
    <!-- <h1>
      Welcome, <%= name %>
    </h1>
    video Url: <a href="https://youtu.be/1NrHkjlWVhM?t=672">Url</a> -->
    <div class="container">
      <h1 class="mb-4">Blog Articles</h1>
      <a href="/articles/new" class="btn btn-success">New Article</a>
    <% if(articles.length != 0){ %> 
    <% for (const article in articles) {
        if (articles.hasOwnProperty(article)) {
            const element = articles[article];%>
            <div class="card mt-4">
              <div class="card-body">
                <h4 class="card-title"><%= element.title %></h4>
                <div class="card-subtitle mb-2 text-muted">
                  <%= element.createdAt.toLocaleDateString() %>
                </div>
                <div class="card-text mb-2">
                  <%= element.description %>
                </div>
                <a href="articles/<%= element.slug %>" class="btn btn-primary">Read more</a>
                <a href="/articles/edit/<%= element.id %>" class="btn btn-info">Edit</a>
                <form action="/articles/<%= element.id %>?_method=delete" method="POST" class="d-inline">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              
              </div>
            </div>
       <% }
    }
    %>
    <% } else { %>
      <div class="mt-4">No Articles Available</div>
    <% } %>
  </div>
  </body>
</html>
